# Add the virtual environment's bin directory to PATH
PATH_add .venv/bin

# Load environment variables from local env files if they exist
[ -e ./env.local ] && dotenv allow && dotenv ./env.local
[ -e ./.env ] && dotenv allow && dotenv ./.env

# Manually append the current directory to PYTHONPATH
export PYTHONPATH=$(pwd):$PYTHONPATH